:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*!---------------- HEADER -------------*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 332px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-accent {
  color: var(--navyblue, #2e2f42);
}

.header-link-list {
    display: flex;
    gap: 40px;
}

.header-link-item {
}


.header-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {
}

.header-address-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}

/*!---------------- HERO ----------------*/

.hero {
  background-color: var(--navyblue, #2e2f42);
  padding: 188px 0;
}

.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}

.hero-btn {
  background-color: var(--iris);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/*!---------------- ADVANTAGES ----------------*/

.advantages {
    padding: 120px 0;
}

.advantages-container {
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 24px*3) / 4);
}

.advantages-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*!----------------- DOING -------------*/

.doing {
    padding-bottom: 120px;
}

.doing-container {
}

.duing-title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.doing-list {
    display: flex;
    gap: 24px;
}

.doing-item {
    width: calc((100% - 24px*2) / 3);
}

.doing-img {
    display: block;
}

/*!-------------- TEAM ---------------*/

.team {
  background-color: var(--cloud, #f4f4fd);
  padding: 120px 0;
}

.team-title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
  background-color: var(--white, #fff);
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
}

.team-img {
    display: block;
}

.team-container {
    padding: 32px 16px;
}

.team-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center; 
}

/*!------------------ FOOTER -------------*/

.page-footer {
  background-color: var(--navyblue, #2e2f42);
  padding: 100px 0;
}

.footer-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/**------------- PORTFOLIO -------------*/
/* Класи хедер і футер перевикористав з index.html*/
/*!------------ MAIN-HERO -----------*/

.portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-item {
}

.portfolio-btn {
  background-color: var(--cloud);
  color: var(--iris);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
 border: 1px solid var(--cornflower, #E7E9FC);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.project-link {
}

.project-img {
  display: block;
}

.project-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
